<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <i class="fas fa-heart navbar-icon"></i>
      <a routerLink="/" (click)="closeMenu()">CharityHub</a>
    </div>

    <div class="navbar-menu" [class.active]="isMenuOpen">
      <a routerLink="/" class="navbar-link" (click)="closeMenu()">Home</a>
      <a routerLink="/causes" class="navbar-link" (click)="closeMenu()">Causes</a>
      <a routerLink="/donate" class="navbar-link" (click)="closeMenu()">Donate</a>
      <a routerLink="/about" class="navbar-link" (click)="closeMenu()">About</a>
      <a routerLink="/contact" class="navbar-link" (click)="closeMenu()">Contact</a>
    </div>

    <div class="navbar-toggle" [class.active]="isMenuOpen" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>
